<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="../../public/image/x-icon" href="../../public/image/logo_highland.png">
    <!-- <link rel="stylesheet" href="../css/style.css"> -->
    <link rel="stylesheet" href="../css/cart.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/bootstrap-5.0.2-dist/bootstrap.min.css">
    <title>Highlands Coffee</title>
    <link rel="stylesheet" href="../../public/fontawesome-free-6.4.2-web/css/all.min.css">
    <script src="../../public/bootstrap-5.0.2-dist/bootstrap.min.css"></script>
</head>
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" id="list-cart">
            <table class="table table-hover">
                <tr>
                    <th class="product-image">PRODUCT IMAGE</th>
                    <th class="product-name">PRODUCT NAME</th>
                    <th class="product-price">PRICE</th>
                    <th class="product-subtotal">QUANTITY</th>
                    <th class="product-quantity">SUBTOTAL</th>
                    <th></th>
                </tr>
                <tr>
                    <th class="product-image">
                        <img src="../../public/image/t-p-1.png">
                    </th>  
                    <th class="product-name">ESPRESSO RISTRETTO</th>
                    <th class="product-price">$130.00</th>
                    <th class="product-quantity">2</th>
                    <th class="product-subtotal">$130.00</th>
                    <th><a href=""><i class="fa-solid fa-x" style="color: #ff0000;"></i></a></th>
                </tr>
                <tr>
                    <th class="product-image">
                        <img src="../../public/image/t-p-1.png">
                    </th>  
                    <th class="product-name">ESPRESSO RISTRETTO</th>
                    <th class="product-price">$130.00</th>
                    <th class="product-quantity">2</th>
                    <th class="product-subtotal">$130.00</th>
                    <th><a href=""><i class="fa-solid fa-x" style="color: #ff0000;"></i></a></th>
                </tr>
                <tr>
                    <th class="product-image">
                        <img src="../../public/image/t-p-1.png">
                    </th>  
                    <th class="product-name">ESPRESSO RISTRETTO</th>
                    <th class="product-price">$130.00</th>
                    <th class="product-quantity">2</th>
                    <th class="product-subtotal">$130.00</th>
                    <th><a href=""><i class="fa-solid fa-x" style="color: #ff0000;"></i></a></th>
                </tr>

                
            </table>
            
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8" style="margin-top: 30px;">
            <a href="#" class="cart-btn"><b>CLEAR CART</b></a>
            <a href="#" class="cart-btn"><b>UPDATE CART</b></a>
        </div>
    </div>

    <div class="row">
        <div class="col-7"></div>
        <div class="col-3" id="cart-total">
            <div class="total-price">
                <h4 class="title-2">CART TOTAL</h4>
                <div class="cart-total" id="subtotal">
                    <span><b>SubTotal</b></span>
                    <span><b>$180</b></span>
                </div>
                <div class="cart-total" id="totalprice">
                    <span><b>Total</b></span>
                    <span><b>$180</b></span>
                </div>
                <button id="cart-btn"><b>ADD TO PROCESS</b></button>

            </div>
        </div>
        <div class="col-2"></div>
    </div>
    




    <script src="../js/product.js"></script>
    <script src="../../public/bootstrap-5.0.2-dist/bootstrap.bundle.min.js"></script>
</body>
</html>