<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="../../public/image/x-icon" href="../../public/image/logo_highland.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/bootstrap-5.0.2-dist/bootstrap.min.css">
    <title>Highlands Coffee</title>
    <link rel="stylesheet" href=".../../public/font/fontawesome-free-6.3.0-web/css/all.min.css">
    <script src="../../public/bootstrap-5.0.2-dist/bootstrap.min.css"></script>
</head>
<!-- <header>
    <nav class="navbar navbar-expand-lg">
        <a href="#" class="logo"><img src="../../public/image/logo_highland.png" alt=""></a>
    <div class="bx bx-menu" id="menu-icon"></div>
        
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Delivery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
  
        
        
      </nav>
  </header> -->
<body>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <ul class="products">
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="" alt="">
                            <img class="img-change" src="" alt="">
                        </a>
                        <a href="#" class="buy-now">MUA NGAY</a>
                    </div>
                        <div class="product-info">
                            <a href="#" class="product-cat">Converse</a>
                            <a href="#" class="product-name">Converse Run Star Hike</a>
                            <div class="product-price">3.200.000đ</div>
                        </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="" alt="">
                            <img class="img-change" src="" alt="">
                        </a>
                        <a href="#" class="buy-now">MUA NGAY</a>
                    </div>
                        <div class="product-info">
                            <a href="#" class="product-cat">Converse</a>
                            <a href="#" class="product-name">Converse Run Star Hike</a>
                            <div class="product-price">3.200.000đ</div>
                        </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="" alt="">
                            <img class="img-change" src="" alt="">
                        </a>
                        <a href="#" class="buy-now">MUA NGAY</a>
                    </div>
                        <div class="product-info">
                            <a href="#" class="product-cat">Converse</a>
                            <a href="#" class="product-name">Converse Run Star Hike</a>
                            <div class="product-price">3.200.000đ</div>
                        </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="" alt="">
                            <img class="img-change" src="" alt="">
                        </a>
                        <a href="#" class="buy-now">MUA NGAY</a>
                    </div>
                        <div class="product-info">
                            <a href="#" class="product-cat">Converse</a>
                            <a href="#" class="product-name">Converse Run Star Hike</a>
                            <div class="product-price">3.200.000đ</div>
                        </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="" alt="">
                            <img class="img-change" src="" alt="">
                        </a>
                        <a href="#" class="buy-now">MUA NGAY</a>
                    </div>
                        <div class="product-info">
                            <a href="#" class="product-cat">Converse</a>
                            <a href="#" class="product-name">Converse Run Star Hike</a>
                            <div class="product-price">3.200.000đ</div>
                        </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="" alt="">
                            <img class="img-change" src="" alt="">
                        </a>
                        <a href="#" class="buy-now">MUA NGAY</a>
                    </div>
                        <div class="product-info">
                            <a href="#" class="product-cat">Converse</a>
                            <a href="#" class="product-name">Converse Run Star Hike</a>
                            <div class="product-price">3.200.000đ</div>
                        </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="" alt="">
                            <img class="img-change" src="" alt="">
                        </a>
                        <a href="#" class="buy-now">MUA NGAY</a>
                    </div>
                        <div class="product-info">
                            <a href="#" class="product-cat">Converse</a>
                            <a href="#" class="product-name">Converse Run Star Hike</a>
                            <div class="product-price">3.200.000đ</div>
                        </div>
                </div>
            </li>
            <li>
                <div class="product-item">
                    <div class="product-top">
                        <a href="#" class="product-thumb">
                            <img src="" alt="">
                            <img class="img-change" src="" alt="">
                        </a>
                        <a href="#" class="buy-now">MUA NGAY</a>
                    </div>
                        <div class="product-info">
                            <a href="#" class="product-cat">Converse</a>
                            <a href="#" class="product-name">Converse Run Star Hike</a>
                            <div class="product-price">3.200.000đ</div>
                        </div>
                </div>
            </li>
        </ul>
        </div>
        <div class="col-2"></div>
    </div>
    




    <script src="../../public/bootstrap-5.0.2-dist/bootstrap.bundle.min.js"></script>
</body>
</html>