@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;400;500;600;700&family=Roboto&display=swap');

body::-webkit-scrollbar {
    display: none;
}

:root{
    --main-color: #FDF5E6;
    --second-color: #CD853F;
}

section{
    padding: 50px 10%;
}
*::selection{
    color: #CC0033;
    background: var(--main-color);
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

.header .logo img{
    height: 4rem;
}
html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}


.navbar a{
    font-weight: 600;
    font-size: 1rem;
}

.header{
    background: #CC0033;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: 0.8s;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    position: relative;
    List-style: none;
}

header ul li a
{
    position: relative;
    margin: 0 15px;

}

.header .navbar a{
    margin: 0 1rem;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--second-color);
    text-decoration: none;

}
.header .search-form{
    position: absolute;
    top: 100%;
    right: 7%;
    background: #fff;
    width: 30rem;
    height: 4rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
    background: beige;
}

.header .search-form label{
    cursor: pointer;
    font-size: 1.1rem;
    margin-right: 1.5rem;
    margin-top: 0.5rem;
    color: black;
    background-color: #CC0033;
}
.header .search-form button{
    width: 0px;
    
}





.header .icons{
    margin-top: 1rem;
}

.navbar{
    position: relative;
    display: inline-block;
}

.menu-items{
    display: none;
    position: absolute;
    background-color: var(--second-color);
    min-width: 160px;
    z-index: 1;
}

.menu-items a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-items a:hover {
    background-color: #f1f1f1;
}

.menu:hover .menu-items {
    display: block;
}




/*footer*/
footer{

    top: 50%;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #4b2f13;

}

.social a{
    font-size: 27px;
    margin: 0.5rem;
}

.social a .bx{
    padding: 5px;
    color: #000000;
    background: #fff;
    border-radius: 50%;
}

.social a .bx:hover{
    background: #e7cd85;
    color: #fff;
}

.links{
    margin: 1rem 0 1rem;
}

.links a{
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    padding: 1rem;
}

.links a:hover{
    color: #e7cd85;
    text-decoration: none;
}
