/* chung cả hai */
.products{
    height: 550px;
    border: 2px solid rgb(176, 175, 175);
    border-radius: 0 0 7px 7px;
    overflow-y: scroll;
    
}
 .bills{
    height: 400px;
    border: 2px solid rgb(176, 175, 175);
    overflow-y: scroll;
}

.bills::-webkit-scrollbar, .products::-webkit-scrollbar{
    display: none;
}

/* phần sản phẩm */
.nav-products{
    height:70px;
    display: fixed;
    text-align: center;    
}

ul.products{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;  
}

ul.products li{
    flex-basis: 30%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.product-thumb img{
    max-width: 100%;
    border: 1px solid #0d0c0c;
    border-radius: 2px;
    margin-top: 15px;
}
ul.products li .product-top{
    position: relative;
    overflow: hidden;
}

ul.products li .product-top .product-thumb{
    display: block;
}

ul.products li .product-top .product-thumb img{
    display: block; 
}

ul.products li .product-info {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;    
}

ul.products li .product-info .name_product{
    margin-top: 5px;
}

li.item{
    background-color: #ffffff;
    border: 1px solid #090909;
    border-radius: 5px;
    margin: 5px;
    
}

/* button thêm sản phẩm */
.btn_add_product{
    background-color: #C7A17A;
    margin: 7px;
    border-radius: 5px;
    border: none;
    padding: 0 20px 0 20px;
    color: #ffffff;
    box-shadow: outset 170px 0 0 0  #C7A17A;
    transition: 1s;
}

.btn_add_product:hover{
    transition: 0.5s;
    box-shadow: inset 170px 0 0 0 #000000;
}

/* button tìm kiếm   */
.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
 }
 
 .search input{
     height: 60px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;
 }
 
 
 .search input:focus{
     box-shadow: none;
     border: 2px solid #C7A17A;
 }
 
 .search .fa-search{
     position: absolute;
     top: 20px;
     left: 16px;
 }
 
 .search button{
     position: absolute;
     top: 5px;
     right: 5px;
     height: 50px;
     width: 110px;
     background: #C7A17A;
 
 } 
 
 .search-product{
     margin-left: 10em;
 }   
 
/* navbar đơn hàng */
.nav-bill {
    height:70px;
    background: #C7A17A;
    border-radius: 7px 7px 0 0;
    border-bottom: 0;
    border: 2px solid #C7A17A;
    display: fixed;
    font-size: 30px;
    line-height: 70px;
    text-align: center;
    color: aliceblue;
}

.footer-order{
    height:150px;
    background: #C7A17A;
    border-radius:0 0 7px 7px ;
    border-top: 0;
    border: 2px solid #C7A17A;
    display: fixed;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}
.btn-order-area{
    margin-top: 15px;
}


.table .thumbnail-product {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
  }
  .table .thumbnail-product img {
    width: 70px;
    height: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F9F7F3;
    border-radius: 10px;
  }

  .table tr td {
    vertical-align: middle;
  }

  .table .product-quantity input {
    width: 50px;
    border: none;
    background-color: transparent;
    font-weight: 500;
    text-align: center;
  }

.order-area{
    margin-bottom: 80px;
}


/* button đặt hàng */
.btn-update-order, .btn-order{
    background-color: #fff;
    margin: 7px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    color: #090909;
    transition: 1s;
}

.btn-update-order:hover, .btn-order:hover{
    transition: 0.5s;
    color:#fff;
    box-shadow: inset 170px 0 0 0 #d68a3f;
}

